<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Catch22</title>

</head>
<body>
	<div class="container">
		<h1>Participants Bird Watching Competition</h1>
		<hr>
		<h2>Update Participant</h2>
		
		<form action="#" th:action="@{/updateParticipant}"
			th:object="${participant}" method="POST">
			
			

		<input type="text" th:field="*{lastName}"
			placeholder="Participant Last Name" class="form-control mb-4 col-4">
		
		<input type="text" th:field="*{firstName}"
			placeholder="Participant First Name}" class="form-control mb-4 col-4">

		<input type="text" th:field="*{phoneNumber}"
			placeholder="Participant Phone Number" class="form-control mb-4 col-4">		

		<input type="text" th:field="*{homeAddress}"
			placeholder="Participant Home Address" class="form-control mb-4 col-4">	

		<input type="text" th:field="*{city}"
			placeholder="Participant City" class="form-control mb-4 col-4">	

		<input type="text" th:field="*{state}"
			placeholder="Participant State" class="form-control mb-4 col-4">		

		<input type="text" th:field="*{postalCode}"
			placeholder="Participant Postal Code" class="form-control mb-4 col-4">	
		
		<input type="text" th:field="*{email}"
			placeholder="Participant Email" class="form-control mb-4 col-4">	

		<input type="text" th:field="*{birthYear}"
			placeholder="Participant Birth Year" class="form-control mb-4 col-4">	
			
		<button type="submit" class="btn btn-info col-2"> Update Participant</button>
	</form>
	</div>
</body>

</html>